<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if(username){ %>
        <ul class="nav navbar-nav">
          <li><a href="/push_blog">写一个blog</a></li>
          <li><a href="/blog_table">管理</a></li>
        </ul>
        <button type="button" class="btn btn-default navbar-btn navbar-right" id="_logout">退出</button>
        <p class="navbar-text navbar-right">欢迎 <a href=""  class="navbar-link"><%= username %></a>登陆</p>
      <% }else{ %>
        <button type="button" class="btn btn-default navbar-btn navbar-right" id="_regbtn">注册</button>
        <button type="button" class="btn btn-default navbar-btn navbar-right" id="_loginbtn">登陆</button>
      <% } %>


    </div><!-- /.navbar-collapse -->



  </div><!-- /.container-fluid -->
</nav>
