<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.min.css">
  <style>

  </style>
</head>
<body>
  <%- include('./header') %>
  <% if(!username){ %>
    <div class="container">
      <h1>请登录...</h1>
    </div>
  <% } else{ %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">settings</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form id="form1" action="/settings" method="post" enctype="multipart/form-data">
            <input type="file" name="profile">
            <input type="submit" class="btn btn-primary" id="pro_setting" value="上传"/>
          </form>
        </div>
      </div>
    </div>
  <% } %>
  <script src="plugins/jquery/dist/jquery.min.js"></script>
  <script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="javascripts/header.js"></script>
  <script>
    $(function(){

    });
  </script>
</body>
</html>
